@import 'variables';

// buefy ui framework
@import 'buefy.scss';

// imports for global use of the scss in the hole app
@import 'animation.scss';
@import 'buttons.scss';
@import 'fonts.scss';
@import 'nuxt-content.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $bg-default;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;

  .font-pretty {
    font-family: 'Clicker Script', cursive;
  }
}

section,
footer,
header {
  display: grid;
  justify-items: center;

  &.full-height {
    min-height: 100vh;
  }
  &.center {
    place-items: center;
  }

  .app-container,
  .app-container-fluid {
    width: calc(100% - calc(2 * $spacing-M));
    padding: $spacing-M;
    margin: unset;

    &.center {
      text-align: center;
    }
  }

  .app-container {
    max-width: $max-width-content;
  }
}

section .app-container {
  padding-top: $spacing-XXL;
}

section:first-of-type .app-container {
  padding-top: $spacing-L;
}

footer {
  padding-bottom: $spacing-XL;

  @media screen and (max-width: $breakpoint-xs) {
    padding-bottom: $spacing-M;
  }
}
