@import 'variables';

.nuxt-content-container {
  p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: justify;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    color: hsl(0deg, 0%, 21%);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    word-break: break-word;

    a {
      display: none;
    }
  }
  h1 {
    font-size: 3rem;
    @media (max-width: $breakpoint-xs) {
      font-size: 2.5rem;
    }
  }
  h2 {
    font-size: 2.5rem;
    @media (max-width: $breakpoint-xs) {
      font-size: 2rem;
    }
  }
  h3 {
    font-size: 2rem;
    @media (max-width: $breakpoint-xs) {
      font-size: 1.75rem;
    }
  }
  h4 {
    font-size: 1.5rem;
    @media (max-width: $breakpoint-xs) {
      font-size: 1.5rem;
    }
  }
  h5 {
    font-size: 1.25rem;
    @media (max-width: $breakpoint-xs) {
      font-size: 1.25rem;
    }
  }
  h6 {
    font-size: 1rem;
    @media (max-width: $breakpoint-xs) {
      font-size: 1rem;
    }
  }
}
